<h3>Informacion del Empleado</h3>

<table class="tablita">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Apellido
        </th>
        <th>
            Edad
        </th>
        <th>
            Empresa
        </th>
    </tr>
    <tr>
        <td>
            {{getNombre()}}
        </td>
        <td>
            {{getApellido()}}
        </td>
        <td>
            {{getEdad()>=18?"Mayor de edad":"Menor de edad" }}
        </td>
        <td>
            {{getEmpresa()}}
        </td>


</table>

<!--//interpolacion: texto dinamico-->

<h3>Formulario</h3>

<span>Ingresa la Empresa:</span>
<input type="text" [(ngModel)]="empresa" [disabled]="getActivadoProperty()">
<!--//Evento en html:   (cuando) = "evento(parametro.value)"   -->

<br>

{{textodeRegistro}} <br>

<span>Registrado</span>
<input type="checkbox" [checked]="getRegistrado()" (click)="evento()">

<br>
<span>Registro con Radio</span>

<input type="radio" value="Si" name="radio-registro" (click)="setUsuarioRegistro($event)">
<input type="radio" value="No" name="radio-registro" (click)="setUsuarioRegistro($event)">
<br>
{{radioRegistro}}